@import "~bootstrap/scss/bootstrap";

// // Custom.scss
// // Option B: Include parts of Bootstrap

// // Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional parts of bootstrap
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
$today  : #E674A2;
$week   : #49AD9A;
$all    : #026C73;

<<<<<<< HEAD
#main-app {
    max-width:500px;
    margin-right:auto;
    margin-left:auto;
}



#today .fa-plus-square {
    color: $today;
}

#thisWeek .fa-plus-square {
    color: $week;
}

#thisWeek button {
    border-color: $week;
    border-width: 2px;
    background: none;
    color: $week;
}

#allTodos button {
    border-color: $all;
    border-width: 2px;
    background: none;
    color: $all;
}

#allTodos .fa-plus-square {
    color: $all;
}

#thisWeek .fa-arrow-alt-circle-up {
    color: $week;
}

#allTodos .fa-arrow-alt-circle-up {
    color: $all;
}

#allTodos .in-progress .fa-arrow-alt-circle-up {
    color: $week;
}

.fa-check-circle {
    color: $today;
}

.fa-circle {
    color: $today;
}
=======

>>>>>>> new-layout

i {
    padding-right: .2em;
}

li i {
    font-size: 1.75em;
    position: relative;
    top: .15em;
}

body {
    position: relative;
    background-image: linear-gradient(to bottom, #E674A2,#49AD9A);
};

.nav-pills .nav-link {
    border-radius: 1.5rem;
    color: $dark;
};

nav {
    background-color: white;
    margin-top: 2vh;
    margin-right: auto;
    margin-left: auto;
    border-radius: 1.5rem;
    border: 1px solid $secondary;
    max-width: 500px;

};

#lists-container {
<<<<<<< HEAD
    width: 500px;
    padding-top: 10vh;
    padding-left:50px;
=======
    max-width: 500px;
    margin: auto;
>>>>>>> new-layout
};  

.list-group-item{
    border:none;
};

#today-nav.active{
    background: $today;
};

#this-week-nav.active{
    background: $week;
};

#all-tasks-nav.active{
    background: $all;
};

<<<<<<< HEAD
#lists-container ul {
    padding-bottom: 2em;
}

h3 {
    font-size: 1.5em;
    font-weight: lighter;
    text-indent: -.25em;
    padding-top: 1.5em;

}
=======
.list-group {
    padding-top:20px;
    padding-right:30px;
    padding-left:30px;
};

#todayList i{
    color: $today;
};

#weekList i{
    color: $week;
};

#allList i{
    color: $all;
};

>>>>>>> new-layout
