@import "~bootstrap/scss/bootstrap";

// // Custom.scss
// // Option B: Include parts of Bootstrap

// // Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional parts of bootstrap
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";

body {
    position: relative;
};

.nav-pills .nav-link {
    border-radius: 1.5rem;
};

nav {
    background-color: white;
    padding-top: 2vh;
    padding-right: 3vw;
    padding-left: 3vw;

};

#lists-container {
    width: 500px;
    padding-top: 10vh;
    margin: auto;
}

.list-group-item{
    border:none;
}
