@import "~bootstrap/scss/bootstrap";

// // Custom.scss
// // Option B: Include parts of Bootstrap

// // Required
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// // Optional parts of bootstrap
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/type";
// @import "~bootstrap/scss/images";
// @import "~bootstrap/scss/code";
// @import "~bootstrap/scss/grid";
$today  : #E674A2;
$week   : #49AD9A;
$all    : #026C73;

lh {
    text-indent: -1.2em;
}

lh i {
    color: $today;

}

i {
    padding-right: .2em;
}

li i {
    font-size: 1.75em;
    position: relative;
    top: .15em;
}

body {
    position: relative;
};

.nav-pills .nav-link {
    border-radius: 1.5rem;
    color: $dark;
};

nav {
    background-color: white;
    margin-top: 2vh;
    margin-right: 3vw;
    margin-left: 3vw;
    border-radius: 1.5rem;
    border: 1px solid $secondary;
};

#lists-container {
    width: 500px;
    padding-top: 10vh;
    margin: auto;
};  

.list-group-item{
    border:none;
};

#today-nav.active{
    background: $today;
};

#this-week-nav.active{
    background: $week;
};

#all-tasks-nav.active{
    background: $all;
};

#lists-container ul {
    padding-bottom: 2em;
}