$today      : #E674A2;
$week       : #49AD9A;
$all        : #026C73;
$lightGrey  : #979797;

// #page {
//     background-image: linear-gradient(to bottom,$today,$week);
//     height:100vh;
//     padding:0;
//     margin:0;
// };

#lists-container {
    max-width: 500px;
    margin: auto;
    background-color: white;
};  
